body{
    margin: 0;
}

.header {
    background-color: black;
}

h1{
    color: #32b9cd;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border: 1px solid pink;
    margin: 0 10% 0 10%;
}

.navbar {
    color: rgb(255, 255, 0);
}

